:root {
    --main-bg-primary: rgb(10, 0, 0);
    --main-bg-segundo:rgb(245, 240, 240);
    --main-bg-terceiro:rgb(138, 14, 14);
  }

  div .card{
      padding: 25px;
      margin: 15px;
  }
  #midias-sociais div{
      display: inline-block;
      border: none;
  }
  .carousel-inner div{
width: 100%;
height: 650px;
  }