:root {
    --main-bg-primary: rgb(31, 53, 151);
    --main-bg-segundo:rgb(245, 240, 240);
    --main-bg-terceiro:rgb(138, 14, 14);
  }


  
.row{
  justify-content: center;
}

  div .card{
      padding: 5px;
      margin: 10px;
      color: var(--main-bg-primary);
      align-items: center;
  }
  #midias-sociais div{
      display: inline-block;
      border: none;
  }
  .carousel-inner div{
width: 100%;
height: 350px;
align-items: center;
  }

  #contatos div{
    padding: 10px;
    display: inline-block;
    border: none;
  }

  .card-img-top{
    width: 200px;
height: 200px;
  }
  
#logo-top img{
    width: 200px;
height: 60px;

  }

#extras p{
  display: inline-block;
  justify-items: space-between;
}